@media(width <= 576px){
    nav{
        height: 3.5rem;
        z-index: 1000;
        transition: height 0.4s ease-in-out, opacity 0.4s ease-in-out;
        align-items: start;
        padding-top: 10px;
        border-radius: 10px;
        justify-content: space-between;
    }

    nav p{
        font-size: 1.3em;
    }

    nav ul{
        display: none;
        transition: opacity 0.3s ease-in-out;
    }

    .slide{
        height: 30rem;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid #31304D;
        padding: 10px 2rem;
        transition: height 0.5s ease-in-out;
    }

    .slide ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        animation: slide 0.4s linear forwards;
        animation-delay: 0.3s;
        opacity: 0;
        font-size: 0.85em;
    }

    @keyframes slide {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }



    .menu-togle{
        display: flex;
        height: 2rem;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 1000;
    }

    .menu-togle span{
        width: 25px;
        height: 1px;
        background-color: #F0ECE5;
    }
}