@media(width <= 576px){

    header{
        padding-bottom: 4rem;
    }

    nav{
        height: 3.5rem;
        z-index: 1000;
        transition: height 0.4s ease-in-out, opacity 0.4s ease-in-out;
        align-items: start;
        padding-top: 10px;
        border-radius: 10px;
        justify-content: space-between;
    }

    nav p{
        font-size: 1.3em;
    }

    nav ul{
        display: none;
        transition: opacity 0.3s ease-in-out;
    }

    .slide{
        height: 30rem;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid #31304D;
        padding: 10px 2rem;
        transition: height 0.5s ease-in-out;
    }

    .slide ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        animation: slide 0.4s linear forwards;
        animation-delay: 0.3s;
        opacity: 0;
        font-size: 0.85em;
    }

    @keyframes slide {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }



    .menu-togle{
        display: flex;
        height: 2rem;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 1000;
    }

    .menu-togle span{
        width: 25px;
        height: 1px;
        background-color: #F0ECE5;
    }

    main{
        flex-direction: column;
    }

    section{
        max-width: 100%;
        padding: 1rem 0;
    }

    article{
        flex-direction: column;
        padding: 0;
        margin: 0;
        gap: 0;
        margin: 1rem;
    }

    article .description-article{
            padding: 1rem;
            gap: 1rem;
    }

    article .images img{
        max-width: 100%;
    }

    .description-article .title h1{
        font-size: 1.1em;
    }

    .description .paragraf{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* Ganti dengan jumlah baris yang diinginkan */
        -webkit-box-orient: vertical;
        font-size: 0.8em;
    }

    .description-article button{
        font-size: 0.8em;
        
    }

    aside .newsletter{
        margin: 1rem;
        padding: 1rem;
    }

    aside .newsletter h2{
        font-size: 1.2em;
    }

    aside .newsletter p{
        font-size: 0.85em;
        padding-bottom: 1rem;
    }

    aside .social-media{
        margin: 1rem;
    }

    aside .social-media ul{
        flex-direction: column;
    }
}